body {
  background-color: #aaaaaa;
  width: 100%;
  height: 100%;
  
}

.container {
  width: 80%;
  margin: 0 auto;
  background-color: #fefefe;
  text-align: center;
}

.grid {
  margin: 0 auto;
}

.grid tr {

}

.grid td {
  width: 50px;
  height: 50px;
  background-color: #999999;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.grid td:hover {
  background-color: #cccccc;
}

.grid td.occupied:hover {
  background-color: #ffaaaa;
}

.header {
  padding: 5px 0 2px;
}

.footer {
  background-color: #eee;
  padding: 2px 0;
}

.current-player, .moves-left {
  color: green;
  font-weight: bold;
}

.new-game {
  color: #666;
  display: inline-block;
  background-color: #aaffaa;
  padding: 10px 30px;
  margin: 10px auto;
  cursor: pointer; 
}

.new-game:hover {
  color: #ffffff;
  background-color: #99ee99;
}

.hidden {
  display: none;
}
