body { 
  width: 100%;
  height: 100%;
  background-color: #ccc;
}

.container {
  position: relative; 
  margin: 0 auto;
  width: 90%;
  height: 100%;
  text-align: center;
}

.pong-canvas {
  background-color: #111;
  margin: 0 auto;
}

.info-bar {
  background-color: #fefefe; 
  width: 500px;
  margin: 0 auto;
  padding: 4px 0;
}

.info-bar > span {
  margin: 0 20px;
  font-size: 16px;
  font-weight: bold;
}

